.section-header {
    padding-top: 24px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;

    background-color: var(--header-background-color)
}



.logo--header-color {
    color: var(--basic-color-text);
}

.section-header__logo {
    margin-right: 90px;
}



.section-header__container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.structure__header-list {
    margin-left: auto;
}

.contact-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.structure__contact-list {
    margin-left: auto;
}

.header-list__item {
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
}


.header-list__link {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;



    color: var(--basic-color-text);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__item:hover::after {
    opacity: 1;

}


.header-list__item:not(:last-child) {
    margin-right: 50px;
}

.contact-list__mail,
.contact-list__tel {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-color-text);
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__mail {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
}


.contact-list__icon {
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.contact-list__tel {
    display: flex;
    flex-direction: row-reverse;
}

.header-list__link:hover,
.header-list__link:focus,
.contact-list__mail:hover,
.contact-list__mail:focus,
.contact-list__tel:hover,
.contact-list__tel:focus,
.contact-list__icon:hover,
.contact-list__icon:focus {

    color: #2196F3;
    fill: #2196F3;
    outline: transparent;
}

.current {
    color: #2196F3;
}

.header-list__link.current::after {
    position: absolute;
    left: 0;
    bottom: -39.5px;

    content: "";
    height: 4px;
    width: 100%;
    display: block;
    border-radius: 2px;
    background: #2196F3;
}